@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 0 0% 85%;
    --secondary-foreground: 240 5.9% 80%;
    --muted: 0 0% 85%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 0 0% 85%;
    --accent-foreground: 240 5.9% 80%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 80%;
    --input: 240 5.9% 80%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 1rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 100%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 9.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 262.1 83.3% 57.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .ocultar-scrollbar {
    scrollbar-width: none; /* Para navegadores Firefox */
    -ms-overflow-style: none; /* Para navegadores Internet Explorer e Edge antigos */
  }

  .ocultar-scrollbar::-webkit-scrollbar {
    display: none; /* Para navegadores WebKit (Chrome, Safari, Opera) */
  }
  .scrollbar::-webkit-scrollbar {
    width: 8px; /* Largura da scrollbar */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000; /* Cor da thumb (barra de rolagem) */
    border-radius: 4px; /* Borda arredondada da thumb */
  }

  .scrollbar::-webkit-scrollbar-track {
    background: hsl(0 0% 100%); /* Cor de fundo do track */
  }

  /* Opcional: Ocultar a scrollbar quando não estiver sendo usada */
  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #555; /* Cor da thumb quando ativa */
  }

  /* Estilos para navegadores Firefox */
  /* Estilos personalizados para a scrollbar do Firefox */
  .scrollbar {
    scrollbar-width: thin; /* Largura fina da scrollbar */
    scrollbar-color: hsl(0, 0%, 60%) hsl(0 0% 100%); /* Cor da thumb e do track */
  }

  .custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

/* CSS para o Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 coluna por padrão (mobile) */
  gap: 8px; /* Espaçamento entre os itens */
}

/* Alterar para 2 colunas em telas maiores */
@media (min-width: 768px) {
  /* Ajuste o breakpoint conforme necessário */
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas para desktop */
  }
}

.drop {
  position: relative;
  padding: 0;
  border: 1px solid #00aaff;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  overflow: hidden; /* Garante que o pseudo-elemento não ultrapasse os limites da gota */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.water-fill {
  width: 100%; /* Ocupa toda a largura da gota */
  height: 0; /* Inicialmente não tem altura */
  background-color: #00aaff; /* Cor da água */
  transition: height 0.3s ease; /* Transição suave ao alterar a altura */
}

.fill-text {
  position: absolute;
  z-index: 1;
}
